<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/change-username" method="POST">
        <div class="form-row">
          <div class="col">
            <input name="user" id="user" type="text" class="form-control" placeholder="Nome">
            <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
          </div>
        </form>
</body>
</html>